.message{
    display: flex;
    flex-direction: column;
    margin: 10px;

}
.messageTop{
    display: flex;
}
.messageImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(0, 128, 128, 0.863);
    color: white;
    max-width: 300px;
}
.messageBottom{
    font-size: 12px;
    margin: 15px;
}
.message.own{
    align-items: flex-end;
}
.message.own .messageText{
    background-color: rgb(231, 230, 230) ;
    color: black;
}